<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.auto_warehouse.mapper.CargoMapper">

    <select id="findByStype" parameterType="string" resultType="com.example.auto_warehouse.bean.Cargo">
        select * from auto_warehouseDB.species left join auto_warehouseDB.cargo on auto_warehouseDB.species.sid = auto_warehouseDB.cargo.sid where stype = #{stype};
    </select>

    <select id="getNewCid" resultType="int">
        select max(cid) from auto_warehouseDB.cargo;
    </select>

    <select id="finfByCid" parameterType="int" resultType="com.example.auto_warehouse.bean.Cargo">
        select * from auto_warehouseDB.cargo where cid=#{cid};
    </select>

    <select id="getNotExpireNum" parameterType="string" resultType="java.lang.Integer">
        select count(cid) from auto_warehouseDB.cargo
        where sid=#{sid} and suid=#{suid} and state="not expire";
    </select>

    <select id="outputBatch" resultType="com.example.auto_warehouse.bean.Cargo">
        select * from auto_warehouseDB.cargo
        where outputTime is null
        order by productionDate LIMIT 1;
    </select>

    <insert id="addCargo" parameterType="com.example.auto_warehouse.bean.Cargo">
        insert into auto_warehouseDB.cargo (sid, sname, productionDate, shelfLife, inputTime, state, suid)
        values (#{sid}, #{sname}, #{productionDate}, #{shelfLife}, #{inputTime}, #{state}, #{suid});
    </insert>

    <update id="updateOutputTime">
        update auto_warehouseDB.cargo set outputTime=#{outputTime} where cid=#{cid};
    </update>


    <select id="findByState" parameterType="com.example.auto_warehouse.bean.Cargo">
        select * from auto_warehouseDB.cargo where state = #{state};
    </select>

    <select id="findBySid" parameterType="com.example.auto_warehouse.bean.Cargo">
        select * from auto_warehouseDB.cargo where sid = #{sid};
    </select>

    <select id="findByInputTime" parameterType="com.example.auto_warehouse.bean.Cargo">
        select * from auto_warehouseDB.cargo where inputTime = #{inputTime};
    </select>

    <select id="findByOutputTime" parameterType="com.example.auto_warehouse.bean.Cargo">
        select * from cargo where outputTime = #{outTime};
    </select>

    <select id="finfByCid" parameterType="com.example.auto_warehouse.bean.Cargo">
        select * from cargo where cid = #{cid};
    </select>
</mapper>
