<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这边的包路径和sql语句需要根据自身的表的写-->
<mapper namespace="com.example.auto_warehouse.mapper.CargoStatusMapper">
    <select id = "allNotInput" resultType="com.example.auto_warehouse.bean.NotInput">
        select * from auto_warehouseDB.notInput;
    </select>
    <update id="modifyIsReadInput" parameterType="java.lang.Integer">
        update auto_warehouseDB.notInput set isRead=isRead-1 where notInputID=#{notInputID};
    </update>
    <insert id = "addNotInput" parameterType="com.example.auto_warehouse.bean.NotInput">
        insert into auto_warehouseDB.notInput (id,name,type,num,productionDate,shelfLife,suid,reason,orderID)
        values(#{id},#{name},#{type},#{num},#{productionDate},#{shelfLife},#{suid},#{reason},#{orderID})
    </insert>
    <select id = "allNotOutput" resultType="com.example.auto_warehouse.bean.NotOutput">
        select * from auto_warehouseDB.notOutput;
    </select>
    <select id = "supermarketNotOutput" parameterType="java.lang.String" resultType="com.example.auto_warehouse.bean.NotOutput">
        select * from auto_warehouseDB.notOutput where isRead > 0 and suid = #{suid}
    </select>
    <update id="modifyIsReadOutput" parameterType="java.lang.Integer">
        update auto_warehouseDB.notOutput set isRead=isRead-1 where notOutputID=#{notOutputID};
    </update>
    <insert id = "addNotOutput" parameterType="com.example.auto_warehouse.bean.NotOutput">
        insert into auto_warehouseDB.notOutput (sid,num,suid,reason,name,orderID)
        values(#{sid},#{num},#{suid},#{reason},#{name},#{orderID})
    </insert>

    <select id = "getSameSpecies" resultType="java.lang.String">
        select sid from auto_warehouseDB.save where sid = #{sid} and suid = #{suid} and rid = #{rid} and state!="变更未送达"
    </select>

    <select id = "getSameSpeciesByOrderID" resultType="java.lang.String">
        select sid from auto_warehouseDB.save where sid = #{sid} and orderID = #{orderID} and state!="变更未送达"
    </select>

    <select id = "getSameSpeciesAllCeid" resultType="java.lang.String">
        select distinct ceid from auto_warehouseDB.save where sid = #{sid} and suid = #{suid} and rid = #{rid} and state!="变更未送达"
    </select>

</mapper>