<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.auto_warehouse.mapper.CargoMapper">

    <select id="getNewCid" resultType="int">
        select max(cid) from auto_warehouseDB.cargo;
    </select>

    <select id="findByCid" parameterType="int" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
        on auto_warehouseDB.species.sid = auto_warehouseDB.save.sid
        where auto_warehouseDB.save.cid=#{cid};
    </select>

    <select id="getNotExpireNum" parameterType="string" resultType="java.lang.Integer">
        select count(cid) from auto_warehouseDB.cargo
        where sid=#{sid} and suid=#{suid} and state="not expire";
    </select>

    <select id="outputBatch" resultType="com.example.auto_warehouse.bean.Cargo">
        select * from auto_warehouseDB.cargo
        where outputTime is null
        order by productionDate LIMIT 1;
    </select>

    <insert id="addCargo" parameterType="com.example.auto_warehouse.bean.Cargo">
        insert into auto_warehouseDB.cargo (sid, sname, productionDate, shelfLife, inputTime, state, suid)
        values (#{sid}, #{sname}, #{productionDate}, #{shelfLife}, #{inputTime}, #{state}, #{suid});
    </insert>

    <update id="updateOutputTime">
        update auto_warehouseDB.cargo set outputTime=#{outputTime} where cid=#{cid};
    </update>

    <select id="findByState" parameterType="date" resultType="com.example.auto_warehouse.bean.Cargo">
        select * from auto_warehouseDB.cargo where state = #{state};
    </select>

    <select id="findBySid" parameterType="string" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
        on auto_warehouseDB.species.sid = auto_warehouseDB.save.sid
        where auto_warehouseDB.species.sid = #{sid};
    </select>

    <select id="findByInputTime" parameterType="date" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
        on auto_warehouseDB.species.sid = auto_warehouseDB.save.sid
        where inputTime = #{inputTime};
    </select>

    <select id="findByStype" parameterType="string" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
        on auto_warehouseDB.species.sid = auto_warehouseDB.save.sid
        where stype = #{stype};
    </select>

    <select id="findSupByCid" parameterType="int">
        select suid from auto_warehouseDB.cargo where cid = #{cid};
    </select>

    <select id="findByCeid" parameterType="string" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
        on auto_warehouseDB.save.sid = auto_warehouseDB.species.sid
        where auto_warehouseDB.save.ceid = #{ceid};
    </select>

<!--待检验-->
    <select id="findByStypeAndInputTime" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
        on auto_warehouseDB.save.sid = auto_warehouseDB.species.sid
        where auto_warehouseDB.species.stype = #{stype} and auto_warehouseDB.save.inputTime = #{inputTime};
    </select>

    <select id="findByStypeAndOutputTime" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
        on auto_warehouseDB.save.sid = auto_warehouseDB.species.sid
        where auto_warehouseDB.species.stype = #{stype} and auto_warehouseDB.save.outputTime = #{outputTime};
    </select>

    <select id="findByStypeAndSuid" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
        on auto_warehouseDB.save.sid = auto_warehouseDB.species.sid
        where auto_warehouseDB.species.stype = #{stype} and auto_warehouseDB.save.suid = #{suid};
    </select>

    <select id="findBySidAndInputTime" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
        on auto_warehouseDB.save.sid = auto_warehouseDB.species.sid
        where auto_warehouseDB.save.sid = #{sid} and auto_warehouseDB.save.inputTime = #{inputTime};
    </select>

    <select id="findBySidAndOutputTime" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
        on auto_warehouseDB.save.sid = auto_warehouseDB.species.sid
        where auto_warehouseDB.save.sid = #{sid} and auto_warehouseDB.save.outputTime = #{outputTime};
    </select>

    <select id="findBySidAndSuid" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
        on auto_warehouseDB.save.sid = auto_warehouseDB.species.sid
        where auto_warehouseDB.save.sid = #{sid} and auto_warehouseDB.save.suid = #{suid};
    </select>
</mapper>