<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.example.auto_warehouse.mapper.OrderMapper">
    <insert id="insertOrder" parameterType="com.example.auto_warehouse.bean.Order">
        insert into auto_warehouseDB.order(suid,rid,time,cost)
        values (#{suid}, #{rid}, #{time}, #{cost});
    </insert>
    <insert id="insertOrder2" parameterType="com.example.auto_warehouse.bean.Order">
        insert into auto_warehouseDB.order(suid,rid,time,state,actualCost,paidMoney)
        values (#{suid}, #{rid}, #{time}, #{state}, #{actualCost}, #{paidMoney});
    </insert>
    <select id="getOrderID" resultType="java.lang.Integer">
        select Max(orderID) from auto_warehouseDB.order;
    </select>
    <select id="getOrderByStatePeople" resultType="com.example.auto_warehouse.bean.Order">
        select * from auto_warehouseDB.order where state="人工审核状态";
    </select>
    <select id="getOrderByStatePay" resultType="com.example.auto_warehouse.bean.Order">
        select * from auto_warehouseDB.order where state="入库缴费状态" and suid=#{suid};
    </select>
    <select id="getOrderByStatePay2" resultType="com.example.auto_warehouse.bean.Order">
        select * from auto_warehouseDB.order where state="出库重计费补缴费状态" and suid=#{suid};
    </select>
    <select id="getSuid" parameterType="com.example.auto_warehouse.bean.Order" resultType="java.lang.String">
        select suid from auto_warehouseDB.order where orderID=#{orderID};
    </select>

    <insert id="insertInputThings" parameterType="com.example.auto_warehouse.bean.InputThings">
        insert into auto_warehouseDB.inputThings(sid,sname,stype,num,weight,sh,sw,sd,productionDate,shelfLife,suid,size,inputTime,outputTime,orderID,price,phone,manufacturer)
        values (#{sid}, #{sname}, #{stype},#{num}, #{weight},#{sh}, #{sw}, #{sd}, #{productionDate},#{shelfLife}, #{suid}, #{size}, #{inputTime},#{outputTime}, #{orderID}, #{price}, #{phone}, #{manufacturer});
    </insert>
    <update id="modifyOrderState" parameterType="com.example.auto_warehouse.bean.Order">
        update auto_warehouseDB.order set state=#{state},time=#{time} where orderID=#{orderID};
    </update>
    <update id="modifyOrderCost" parameterType="com.example.auto_warehouse.bean.Order">
        update auto_warehouseDB.order set cost=#{cost} where orderID=#{orderID};
    </update>
    <update id="modifyOrderOthers" parameterType="com.example.auto_warehouse.bean.Order">
        update auto_warehouseDB.order set others=#{others} where orderID=#{orderID};
    </update>
    <update id="setPayMethod">
        update auto_warehouseDB.order set payMethod=#{payMethod} where orderID=#{orderID};
    </update>

    <insert id="insertMessage" parameterType="com.example.auto_warehouse.bean.Message">
        insert into auto_warehouseDB.message(orderID,action,suid,time)
        values (#{orderID}, #{action}, #{suid}, #{time});
    </insert>
    <select id="getInputThingsByOrderID" resultType="com.example.auto_warehouse.bean.InputThings">
        select * from auto_warehouseDB.inputThings where orderID=#{orderID};
    </select>
    <select id="getInputThingsByOrderIDAndSid" resultType="com.example.auto_warehouse.bean.InputThings">
        select * from auto_warehouseDB.inputThings where orderID=#{orderID} and sid=#{sid};
    </select>
    <select id="getOrderBySuid" resultType="com.example.auto_warehouse.bean.Order">
        select * from auto_warehouseDB.order where suid=#{suid};
    </select>
    <select id="getMessageByOrderID" resultType="com.example.auto_warehouse.bean.Message">
        select * from auto_warehouseDB.message where orderID=#{orderID};
    </select>
    <select id="getNotinputByOrderID" resultType="com.example.auto_warehouse.bean.NotInput">
        select * from auto_warehouseDB.notInput where orderID=#{orderID};
    </select>
    <select id="getOrderByOrderID" resultType="com.example.auto_warehouse.bean.Order">
        select * from auto_warehouseDB.order where orderID=#{orderID};
    </select>
    <select id="getOrderBySuidAndstate" resultType="com.example.auto_warehouse.bean.Order">
        select * from auto_warehouseDB.order where suid=#{suid} and state=#{state};
    </select>

    <insert id="insertOrderCostLog" parameterType="com.example.auto_warehouse.bean.OrderCostLog">
        insert into auto_warehouseDB.orderCostLog(suid,orderID,money,statement,time)
        values (#{suid}, #{orderID}, #{money}, #{statement}, #{time});
    </insert>

    <select id="getOrderPayment" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save where orderID=#{orderID} and sid=#{sid} and state="⼊库已确认状态" LIMIT 1
    </select>
    <update id="updatePayment">
        update auto_warehouseDB.order set actualCost=#{amount} where orderID=#{orderID}
    </update>
    <update id="updatePaidMoney">
        update auto_warehouseDB.order set paidMoney=#{paidMoney} where orderID=#{orderID}
    </update>
    <select id="getActualOrderPayment" resultType="com.example.auto_warehouse.bean.Order">
        select * from auto_warehouseDB.order where suid=#{suid} and state="出库重计费补缴费状态"
    </select>
    <select id="getOrderPaymentLog" resultType="com.example.auto_warehouse.bean.OrderCostLog">
        select * from auto_warehouseDB.orderCostLog where suid=#{suid} order by orderID
    </select>

    <insert id="insertOutputThings" parameterType="com.example.auto_warehouse.bean.OutputThings">
        insert into auto_warehouseDB.outputThings(sid,num,suid,name,orderID)
        values (#{sid}, #{num}, #{suid}, #{name}, #{orderID});
    </insert>
<!--    因为可能有分批出货的情况，所以要设置state-->
    <select id="getOutputThingsByOrderID" resultType="com.example.auto_warehouse.bean.OutputThings">
        select * from auto_warehouseDB.outputThings where orderID=#{orderID} and state is null
    </select>
    <update id="modifyOutputThingsState" parameterType="com.example.auto_warehouse.bean.OutputThings">
        update auto_warehouseDB.outputThings set state="已出库" where orderID=#{orderID} and sid=#{sid}
    </update>

    <select id="showNonePayMethod" resultType="com.example.auto_warehouse.bean.Order"
            parameterType="java.lang.String">
        select * from auto_warehouseDB.order where state="待选择缴费方式" and suid=#{suid};
    </select>

</mapper>