<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这边的包路径和sql语句需要根据自身的表的写-->
<mapper namespace="com.example.auto_warehouse.mapper.RepositoryMapper">

    <select id = "getCellByType" resultType="com.example.auto_warehouse.bean.Cell">
        select * from auto_warehouseDB.cell where type = #{type} and crid = #{crid} order by ceid LIMIT 1
    </select>
    <select id = "getCellByCeid" resultType="com.example.auto_warehouse.bean.Cell">
        select * from auto_warehouseDB.cell where ceid = #{ceid} and crid = #{crid}
    </select>
    <select id = "getRestNum" resultType="java.lang.Integer">
        select restNum from auto_warehouseDB.repository where rid = #{rid}
    </select>

    <update id = "modifyCellTypeAndRestNumAndIsFull" parameterType="com.example.auto_warehouse.bean.Cell">
        update auto_warehouseDB.cell set type = #{type},restNum = #{restNum},isFull = #{isFull} where crid = #{crid} and ceid = #{ceid}
    </update>


    <update id="outCargo" parameterType="java.lang.String">
        update auto_warehouseDB.cell set restNum = restNum+1 where ceid=#{ceid};
    </update>
    <!--type得设为null，入库时会根据null查询空cell-->
    <update id="clearCargo" parameterType="java.lang.String">
        update auto_warehouseDB.cell set isFull=0, type="null", restNum = null where ceid=#{ceid};
    </update>

    <update id="updateRepositoryRestNum" parameterType="java.lang.String">
        update auto_warehouseDB.repository set restNum=restNum+1 where rid=#{rid};
    </update>
    <update id="substractRepositoryRestNum" parameterType="java.lang.String">
        update auto_warehouseDB.repository set restNum=restNum-1 where rid=#{rid};
    </update>

    <update id="updateIncome">
        update auto_warehouseDB.repository set income=income+#{money}
        where rid=#{rid};
    </update>

    <select id="rate" resultType="com.example.auto_warehouse.bean.Repository">
        select * from auto_warehouseDB.repository;
    </select>

    <update id="modifyMachineHealth" parameterType="java.lang.String">
        update auto_warehouseDB.repository set machineHealth = machineHealth-0.1 where rid=#{rid}
    </update>

    <select id="selectRateByRid" resultType="com.example.auto_warehouse.bean.Repository">
        select * from auto_warehouseDB.repository
        where auto_warehouseDB.repository.rid = #{rid};
    </select>
    <select id="selectMonthIncome" resultType="com.example.auto_warehouse.bean.Income">
        select * from auto_warehouseDB.income where repositoryId = #{repositoryId} and yearMonth between #{year} and #{year}+100
    </select>
</mapper>