<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这边的包路径和sql语句需要根据自身的表的写-->
<mapper namespace="com.example.auto_warehouse.mapper.RepositoryMapper">

<!--    <select id = "getCellByType" resultType="com.example.auto_warehouse.bean.Cell">-->
<!--        select * from auto_warehouseDB.cell where type = #{type} and crid = #{crid} order by ceid LIMIT 1-->
<!--    </select>-->

<!--    <select id = "getCellByCeid" resultType="com.example.auto_warehouse.bean.Cell">-->
<!--        select * from auto_warehouseDB.cell where ceid = #{ceid} and crid = #{crid}-->
<!--    </select>-->

    <select id = "getRestNum" resultType="java.lang.Integer">
        select restNum from auto_warehouseDB.repository where rid = #{rid}
    </select>

    <update id = "modifyCellTypeAndRestNumAndIsFull" parameterType="com.example.auto_warehouse.bean.Cell">
        update auto_warehouseDB.cell set type = #{type} and restNum = #{restNum} and isFull = #{isFull} where crid = #{crid} and ceid = #{ceid}
    </update>

</mapper>