<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.auto_warehouse.mapper.SaveMapper">
    <insert id="save">
        insert into auto_warehouseDB.save (sid, cid, rid, ceid, suid, state,orderID)
        values (#{sid}, #{cid}, #{rid}, #{ceid}, #{suid}, #{state}, #{orderID});
    </insert>

    <select id="findAll" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
        on auto_warehouseDB.species.sid = auto_warehouseDB.save.sid;
    </select>

    <select id="getCellByCid" resultType="java.lang.String" parameterType="int">
        select ceid from auto_warehouseDB.save where cid=#{cid};
    </select>

    <update id="updateOutputTime">
        update auto_warehouseDB.save set outputTime=#{outputTime} where cid=#{cid};
    </update>


    <select id="findByCid" parameterType="int" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
                                                      on auto_warehouseDB.species.sid = auto_warehouseDB.save.sid
        where auto_warehouseDB.save.cid=#{cid};
    </select>

    <select id="findBySid" parameterType="string" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
                                                      on auto_warehouseDB.species.sid = auto_warehouseDB.save.sid
        where auto_warehouseDB.species.sid = #{sid};
    </select>

    <select id="findByInputTime" parameterType="date" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
                                                      on auto_warehouseDB.species.sid = auto_warehouseDB.save.sid
        where inputTime = #{inputTime};
    </select>

    <select id="findByStype" parameterType="string" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
                                                      on auto_warehouseDB.species.sid = auto_warehouseDB.save.sid
        where stype = #{stype};
    </select>


    <select id="findByCeid" parameterType="string" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
                                                      on auto_warehouseDB.save.sid = auto_warehouseDB.species.sid
        where auto_warehouseDB.save.ceid = #{ceid};
    </select>

    <!--待检验-->
    <select id="findByStypeAndInputTime" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
                                                      on auto_warehouseDB.save.sid = auto_warehouseDB.species.sid
        where auto_warehouseDB.species.stype = #{stype} and auto_warehouseDB.save.inputTime = #{inputTime};
    </select>

    <select id="findByStypeAndOutputTime" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
                                                      on auto_warehouseDB.save.sid = auto_warehouseDB.species.sid
        where auto_warehouseDB.species.stype = #{stype} and auto_warehouseDB.save.outputTime = #{outputTime};
    </select>

    <select id="findByStypeAndSuid" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
                                                      on auto_warehouseDB.save.sid = auto_warehouseDB.species.sid
        where auto_warehouseDB.species.stype = #{stype} and auto_warehouseDB.save.suid = #{suid};
    </select>

    <select id="findBySidAndInputTime" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
                                                      on auto_warehouseDB.save.sid = auto_warehouseDB.species.sid
        where auto_warehouseDB.save.sid = #{sid} and auto_warehouseDB.save.inputTime = #{inputTime};
    </select>

    <select id="findBySidAndOutputTime" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
                                                      on auto_warehouseDB.save.sid = auto_warehouseDB.species.sid
        where auto_warehouseDB.save.sid = #{sid} and auto_warehouseDB.save.outputTime = #{outputTime};
    </select>

    <select id="findBySidAndSuid" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
                                                      on auto_warehouseDB.save.sid = auto_warehouseDB.species.sid
        where auto_warehouseDB.save.sid = #{sid} and auto_warehouseDB.save.suid = #{suid};
    </select>

    <select id="findBySuid" resultType="com.example.auto_warehouse.bean.Save" parameterType="java.lang.String">
        select * from auto_warehouseDB.save left join auto_warehouseDB.species
                                                      on auto_warehouseDB.save.sid = auto_warehouseDB.species.sid
        where auto_warehouseDB.save.suid = #{suid};
    </select>

    <select id="findAllCeidByOrderIDAndSid" resultType="java.lang.String">
        select distinct ceid from auto_warehouseDB.save where sid=#{sid} and orderID=#{orderID};
    </select>
    <select id="findCountByOrderIDAndSidAndCeid" resultType="java.lang.Integer">
        select count(*) from auto_warehouseDB.save where sid=#{sid} and orderID=#{orderID} and ceid=#{ceid};
    </select>
    <select id="getNumCid" resultType="java.lang.Integer">
        select cid from auto_warehouseDB.save where sid=#{sid} and orderID=#{orderID} and ceid=#{ceid} LIMIT #{num};
    </select>
    <update id="modifySaveState" parameterType="com.example.auto_warehouse.bean.Save">
        update auto_warehouseDB.save set state="变更未送达" where cid=#{cid};
    </update>
    <update id="modifySaveStateCommon" parameterType="com.example.auto_warehouse.bean.Save">
        update auto_warehouseDB.save set state=#{state} where cid=#{cid};
    </update>
    <update id="updateInputTimeAndState">
        update auto_warehouseDB.save set inputTime=#{inputTime},state="入库待确认状态" where orderID=#{orderID} and state!="变更未送达";
    </update>
    <update id="updateConfirmState">
        update auto_warehouseDB.save set state="⼊库已确认状态" where orderID=#{orderID} and state="入库待确认状态";
    </update>
    <select id="findInputState" resultType="com.example.auto_warehouse.bean.Save">
        select * from auto_warehouseDB.save where orderID=#{orderID} and state="⼊库已确认状态";
    </select>
</mapper>
