<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.auto_warehouse.mapper.SaveMapper">
    <insert id="save">
        insert into auto_warehouseDB.save (sid, cid, rid, ceid, suid, inputTime)
        values (#{sid}, #{cid}, #{rid}, #{ceid}, #{suid}, #{inputTime});
    </insert>

    <select id="getCellByCid" resultType="java.lang.String" parameterType="int">
        select ceid from auto_warehouseDB.save where cid=#{cid};
    </select>

    <update id="updateOutputTime">
        update auto_warehouseDB.save set outputTime=#{outputTime} where cid=#{cid};
    </update>

</mapper>
