<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.auto_warehouse.mapper.SpeciesMapper">

    <select id="findById" resultType="com.example.auto_warehouse.bean.Species">
        select * from auto_warehouseDB.species where sid = #{sid};
    </select>

    <select id="findByName" resultType="com.example.auto_warehouse.bean.Species">
        select * from auto_warehouseDB.species where sname = #{sname};
    </select>

    <select id="findByType" resultType="com.example.auto_warehouse.bean.Species">
        select * from auto_warehouseDB.species where stype = #{stype};
    </select>

    <select id="allSpecies" resultType="com.example.auto_warehouse.bean.Species">
        select * from auto_warehouseDB.species;
    </select>

    <insert id="addSpecies" parameterType="com.example.auto_warehouse.bean.Species">
        insert into auto_warehouseDB.species
        values(#{sid}, #{sname}, #{stype}, #{num}, #{weight}, #{sh}, #{sw}, #{sd}, #{size});
    </insert>

    <update id="addNum" parameterType="com.example.auto_warehouse.bean.Species">
        update auto_warehouseDB.species set num = num + #{newNum} where sid=#{sid};
    </update>

    <update id="reduceNum" parameterType="com.example.auto_warehouse.bean.Species">
        update auto_warehouseDB.species set num = num - #{newNum} where sid=#{sid};
    </update>

    <select id="findStypeBySid" resultType="java.lang.String" parameterType="java.lang.String">
        select stype from auto_warehouseDB.species where sid=#{sid};
    </select>

</mapper>
